/* ----------General CSS---------- */

* {
    margin: 0;
}
body {
    background-color: #42b0f4;
    width: 100%;
}

h1, h2, h3 {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    text-align: center;
    color: #ffffff;
}

p {
    font-family: 'Kodchasan', Helvetica, sans-serif;
}

div.thanks {
    margin: 2rem;
}

/* ----------Header CSS---------- */

.motto {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    color: #ffffff;
    text-align: center;
 }

header {
    background-color: #2e7cad;
    padding: 10px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

header h1 {
    margin: 0 auto 5px auto;
}

/* ----------Navigation CSS---------- */

nav {
    background-color: #224b7c;
    font-family: 'EB Garamond', 'Times New Roman', serif;
    color: #ffffff;
    width: 100%;
}

nav ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav div {
    margin: 3px auto;
}

nav button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    padding: .5rem 0 0 .5rem;
}

nav li {
    list-style: none;
    text-align: left;
    padding: .5rem;
    height: 1.5rem;
}

nav a {
    text-decoration: none;
}

nav a:link {
     color: #ffffff;
}

nav a:visited {
     color: #fcbb44;
}

nav a:hover {
    color: #224b7c;
    background-color: #fcbb44;
    font-weight: bolder;
}

nav ul.hide {
    display: none;
}

.active {
    font-weight: bold;
    font-size: 1.3rem;
}

/* ----------Main CSS---------- */

main {
    position: relative;
    margin: 0 auto;
}

/* ----------Index CSS----------*/

.town-info {
    display: flex;
    flex-direction: column;
}
.tres-boxes {
    border: 10px solid #ffffff;
    padding: 10px;
    margin: 15px auto;
    width: 500px;
    box-shadow: 3px 3px 3px 3px #000000; 
}

.town-img {
    width: 480px;
    margin: 20 auto;
}

.town-motto {
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1rem;
    text-align: center;
}

.town-p {
    color: #ffffff;
    text-align: center;
}
/* ----------Weather Summary CSS---------- */

.wx-summ {
    position: absolute;
    top: 75px;
    left: 5px;
    width: 180px;
    background-color: #2e7cad;
    padding: 10px;
    color: #ffffff;
}

.summ-head h2 {
    color: #ffffff;
    font-family: 'EB Garamond', 'Times New Roman', serif;
    text-decoration: underline;
}

.label {
    font-family:  'Kodchasan', Helvetica, sans-serif;
    color: #fcbb44;
    font-weight: bold;
    text-align: right;
}

.wx-data {
    font-family:  'Kodchasan', Helvetica, sans-serif;
    font-weight: bold;
}

/* ----------Hero Picture CSS---------- */

div.hero {
    width: 100%;
    max-width: 1140px;
    height: auto;
    margin: 0 auto;
}

div.hero img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* ----------Five Day Forecast CSS---------- */

div.fiveday {
    display: none;
}

/* ----------Articles CSS---------- */

.article-top {
    clear: both;
    text-align: center;
}
.article-top h2, h3 {
    color: #ffffff;
    font-family: 'EB Garamond', 'Times New Roman', serif;
    text-align: center;
    margin: 0 auto;
}

.article-img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.article-text ul {
    font-family: 'Kodchasan', Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    color: #ffffff;
    list-style-type: none;
}
.clearfix {
    clear: both; 
}

/* ----------Gallery CSS ------------ */

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    justify-content: center;
}

.gallery figure {
    margin: 10px;
    padding: 0 10px;
}

.gallery figcaption {
    color: #ffffff;
}

/* ----------Storm Center CSS ---------- */

form fieldset {
    border: 2px solid #224b7c;
    width: 100%;
    margin: 0 auto;
}

form fieldset legend {
    padding: 1rem;
}

form input:required {
    background: #f7978c;
}

form input:required:valid {
    background: #ffffff;
}
form label.above {
    display: block;
    margin: .5rem auto 0;
    color: #ffffff;
}

form input.above {
    display: block;
    width: 90%;
    padding: .75rem;
}

form select.above {
    display: block;
    width: 90%;
}

label.left {
    display: inline;
    padding: .5rem;
    color: #ffffff;
    margin: .5rem auto 0;
}

form textarea {
    height: 4rem;
    width: 90%;
    display: block;
}

form input.submit {
    padding: 1rem;
    margin: 1.5rem auto;
}

p.storm {
    color: #ffffff;
    font-weight: bold;
}

/* ----------Footer CSS---------- */

footer {
    background-color: #2e7cad;
    width: 100%;
    max-width: 100%;
    padding: 2px 0;
    display: inline-block;
    margin: 0 auto;
}

footer a:link {
    color: #ffffff;
}
footer p {
    font-family: 'Kodchasan', Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 3px;
    }

div.social-media img {
    display: inline;
}


footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-bar {
    background-color: #224b7c;
    width: 100%;
}

.footer-bar p {
    color: #ffffff;
}

/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }