/* This is general CSS */

* {
    margin: 0;
}
body {
    background-color: #42b0f4;
    padding: 0;
    }

h1 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: 'EB Garamond', serif;
    color: #ffffff;
    text-align: center;
}


main {
    width: 100%;
}

p {
    font-family: 'Kodchasan', sans-serif;
}

/* This is the CSS for things in the header */

.logo {
     float: left;
}

.motto {
    font-family: 'EB Garamond', serif;
    color: #ffffff;
    text-align: center;
 }

header {
    background-color: #2e7cad;
    width: 100%;
    margin: 0;
    padding: 10px;

}

header h1 {
    margin: 0 auto 5px auto;

    text-align: center;
}

/* This is the CSS for the navigation panel */

nav {
    width: 100%;
    padding: 5px;
    background-color: #224b7c;
    font-family: 'EB Garamond', serif;
    color: #ffffff;
}

nav div {
    width: 25px;
    height: 3px;
    background-color: #fcbb44;
    margin: 3px auto;
    box-align: center;
}
nav ul li {
    list-style: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
}
nav ul li a:link {
     color: #ffffff;

}

nav ul li a:visited {
     color: #fcbb44;
}

nav ul li a:hover {
    color: #224b7c;
    background-color: #fcbb44;
    font-weight: bold;
}

nav ul li .active {
    font-weight: bold;
    font-size: 1.3em;
}

/* CSS for the "main" container that holds the weather summary and hero picture */

main {
    width: 100%;
    position: relative;
    margin: auto;
}

/* This is the CSS for the Weather Summary area */

.wx-summ {
    position: absolute;
    top: 75px;
    left: 5px;
    width: 200px;
    height: auto;
    background-color: #2e7cad;
    padding: 10px;
    color: #ffffff;
}

}
/* This CSS is for the Hero Picture */

.hero img {
    width: 100%;
    height: auto;
}

/* This CSS is for the five-day forecast */

.fiveday table {
    display: none;
}

/* This CSS is for articles */

article {
    Width: 80%;
    padding: 5px;
    margin: auto;
    width: 100%;
    height: auto;
}

.article-img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.article-text h2, h3 {
    color: #000000;
    font-family: 'EB Garamond', serif;
    text-align: center;
}

.article-text p {
    font-family: 'Kodchasan', sans-serif;
    width: 80%;
    margin: auto;
}

/* This CSS is for the footer */

footer {
    background-color: #2e7cad;
    width: 100%;
    padding: 2px, 0;
}

footer a:link {
    color: #ffffff;
}
footer p {
    font-family: 'Kodchasan', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 3px;
    }

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-bar {
    background-color: #224b7c;
    width: 100%;
}

.footer-bar p {
    color: #ffffff;
}