@media only screen and (min-width: 32.5em) {
    /* 32.5em = 520px*/

    /* ---------Navigation CSS----------*/
    
    nav ul.hide {
        display: inline-flex;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-around;
    }
    
    nav li {
        padding: 10px;
    }

    nav button {
        display: none;
    }

    /*main {
        max-width: 1042px;
    } */
    
    /* ----------Five Day Forecast CSS--------- */

    div.fiveday {
        margin: 10px auto;
        display: block;
        margin: 0 auto;
    }

    .fiveday table {
        color: #000000;
        font-weight: bold;
        border-collapse: collapse;
        margin: 1.5rem auto;
    }

    .fiveday td {
        border: 1px solid #000000;
        border-spacing: 0;
        padding: 5px;
        text-align: center;
    }

    .fiveday img {
        width: auto;
        height: auto;
    }

    .table-label {
        color: #ffffff;
    }

    .table-day {
        background-color: #2e7cad;
        color: #ffffff;
        font-weight: bold;
    }

    .table-forecast {
        background-color: #ffffff;
    }

    /* ---------Article CSS---------- */

    main article {
        margin: auto;
    }

    div.article-img {
        float: right;
        width: 30%;
        height: auto;
        margin: 0 0 10px 10px;
    }

    div.article-img img {
        max-width: 100%;
        height: auto;
    }

    /* -----------Gallery CSS----------*/

    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        justify-content: space-evenly;
    }

    /* ----------Storm Center CSS ---------- */

    form fieldset {
        width: 40%;
        margin: 0 auto;
    }

    /* ----------Footer CSS----------- */

    footer {
        width: 100%;
        margin: 0 auto;
    }
    .contact {
        width: 48%;
        display: inline-block;
    }

    .map {
        width: 48%;
        display: inline-block;
    }

















} /*End of medium CSS */